body {
  background-color: black;
}

#banner {

}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 38px;
  text-align: center;
  padding: 10px;
  margin-top: 60px;
  color: white;
}

p {
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
  color: white;
}

.container {
  background-color: black;
}

.mainButton {
  padding-left: 330px;
  background-color: black;
}

