 
* {
  background-color: black;
}

body {
  background-color: black;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  color: white;
}

h3 {
  color: white;
}

.ready {
  background-color: black;
}

#prompt {
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
  color: red;
  padding-bottom: 30px;
  margin-top: 75px;
  letter-spacing: 4px;
}

.picture {
  margin-bottom: 100px;
  position: relative;
  left: 300px;
}

.donkey {
  margin-bottom: 100px;
  position: relative;
  left: 400px;
  }

.answers li {
  color: red;
  background-color: #01BFDC;
  font-family: 'VT323', monospace;
  text-align: center;
  margin-right: 330px;
  margin-left: 250px;
  font-size: 50px;
  margin-top: 30px;
  list-style: none;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

p {  
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
  color: white;
}

.container {
  background-color: black;
}

.mainButton {
  padding-left: 330px;
  background-color: black;
}

.chosen-correct {
  
  background-color: #65A355;
  border: 4px solid #000;
  border-radius: 15px;
  margin: 0 auto;
  color:#fff;
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}

.chosen-incorrect {
  
  background-color: #65A355;
  border: 4px solid #000;
  border-radius: 15px;
  margin: 0 auto;
  color:#fff;
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}

.unchosen {
  
  background-color: #65A355;
  border: 4px solid #000;
  border-radius: 15px;
  margin: 0 auto;
  color:#fff;
  list-style-type: none;
  text-align: center;
  font-size: 18px;
} 

#tryagain {
  display: inline block;
  width: 20%;
  margin: 0 auto;
  padding:10px;
  border: 0px;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 26px;
  background-color: black;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
}

#tryagain a:link {
  text-decoration: none;
  color: #fff;
}

#tryagain a:visited {
  text-decoration: none;
  color: #fff;
}

#tryagain:hover {
  cursor: pointer;
  opacity: 0.8;
}

#more {
  display: inline block;
  width: 80%;
  margin: 0 auto;
  padding:10px;
  border: 0px;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 26px;
  background-color: black;
  margin-bottom: 100px;
  margin-top: 0px;
  text-align: center;
}

#yourscore {
  position: absolute;
  bottom: 0px;
  right: 30px;
  width: 150px;
  height: 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: red;
  font-family: 'Press Start 2P', cursive;
  position: fixed;
}

#yourscore p {
  text-align: center;
  font-size: 15px;
  background-color: red;
  line-height: 20px;
  font-family: 'Press Start 2P', cursive;
}

