/* 
* {
border-style: dotted;
border-width: 1px;
}
*/

* {
  background-color: black;
}

body {
  background-color: black;
}

#banner {

}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  color: white;
}

h3 {
  color: white;
}

.ready {
  background-color: black;
}

#prompt {
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
  color: red;
  padding-bottom: 30px;
  margin-top: 75px;
  letter-spacing: 4px;
}

.picture {
  margin-left: 310px;
}

.answers li {
  color: white;
  font-family: 'VT323', monospace;
  text-align: center;
  margin-right: 300px;
  margin-left: 250px;
  font-size: 50px;
  margin-top: 30px;
  list-style: none;
}

p {  
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
  color: white;
}

.container {
  background-color: black;
}

.mainButton {
  padding-left: 330px;
  background-color: black;
}

